@{
    ViewBag.Title = "Home Page";
}

<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-8">
                <h1 class="text-white">
                    Organize all with Rehab Center
                </h1>
                <p class="pt-20 pb-20 text-white">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Start feature Area -->
<section class="feature-area pb-100" id="service">
    <div class="container">
        <div class="row mockup-container">
            <img class="mx-auto d-block img-fluid" src="img/laptop.png" alt="">
        </div>
        <div class="row d-flex justify-content-center">
            <div class="menu-content pt-100 pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">Our Most Unique Features</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-feature">
                    <span class="lnr lnr-screen"></span>
                    <h4>
                        Stunning Visuals
                    </h4>
                    <p>
                        Here, I focus on a range of items and features that we use in life without giving them a second thought such as Coca Cola.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-feature">
                    <span class="lnr lnr-code"></span>
                    <h4>
                        Clean Code
                    </h4>
                    <p>
                        Here, I focus on a range of items and features that we use in life without giving them a second thought such as Coca Cola.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-feature">
                    <span class="lnr lnr-clock"></span>
                    <h4>
                        Punctuality
                    </h4>
                    <p>
                        Here, I focus on a range of items and features that we use in life without giving them a second thought such as Coca Cola.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End feature Area -->